#!/bin/sh

echo 2.0 > /var/lib/jenkins/upgraded
echo 2.0 > /var/lib/jenkins/jenkins.install.UpgradeWizard.state
chown -R jenkins:jenkins /var/lib/jenkins
chmod 700 /var/lib/jenkins/.ssh
chmod 600 /var/lib/jenkins/.ssh/id_rsa

# https://issues.jenkins-ci.org/browse/JENKINS-31619
mkdir -p ~/jenkins/.jenkins/cache/jars
chown -R jenkins:jenkins ~/jenkins/.jenkins
export JENKINS_HOME=/var/lib/jenkins

# TODO: These are not in place yet, lets keep them here for mesos
# I remember setting _Variables on my tests using Makefile

export LIBPROCESS_IP=${JENKINS_MESOS_LIBPROCESS_IP:-0.0.0.0}
export LIBPROCESS_PORT=${JENKINS_MESOS_LIBPROCESS_PORT:-9000}
export LIBPROCESS_ADVERTISE_PORT=$JENKINS_MESOS_LIBPROCESS_ADVERTISE_PORT
export LIBPROCESS_ADVERTISE_IP=$JENKINS_MESOS_LIBPROCESS_ADVERTISE_IP

mkdir -p /var/log/jenkins
touch /var/log/jenkins/jenkins.log
chown -R jenkins /var/log/jenkins
cd /var/lib/jenkins
exec /sbin/setuser jenkins /usr/bin/java {{ jenkins['jvm_args'] }} -Djava.awt.headless=true  -jar /usr/share/jenkins/jenkins.war --httpPort={{ jenkins['port'] }} 2>&1 | tee -a /var/log/jenkins/jenkins.log
