<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>{{ name }}</name>
  <description> {{ description }} </description>
  <remoteFS>{{ workspace | default('/tmp') }}</remoteFS>
  <numExecutors>{{ numExecutors | default('1') }}</numExecutors>
  <mode>NORMAL</mode>
{% if on_demand  is defined %}
   <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
    	<inDemandDelay>{{ on_demand['inDemandDelay'] |default('1') }}</inDemandDelay>
    	<idleDelay>{{ on_demand['idleDelay'] |default('1') }}</idleDelay>
   </retentionStrategy>
{% else %}
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
{% endif %}
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.9">
    <host>{{ ip }}</host>
    <port>{{ port | default('22') }}</port>
    <credentialsId>{{ credentials_id }}</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label>{{ label }}</label>
  <nodeProperties/>
  <userId>{{ user_id | default('admin') }}</userId>
</slave>
